# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- SQL
- Scala
- Julia

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. JUlia

# Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. TensorFlow

|Data science tools|
|------------------|
|Jupter Notebook|
|RStudio|
|Apache Zeppelin|

 ### Below are a few examples of evaluating arithmetic expressions in Python.

In [17]:
print("This a simple arithmetic expression to mutiply then add integers:")
(3*4)+5

This a simple arithmetic expression to mutiply then add integers:

17

In [19]:
print("This will convert 200 minutes to hours by diving by 60:")
200/60

This will convert 200 minutes to hours by diving by 60:

3.3333333333333335

## Author:
Mohamed